body {
  font-family: sans-serif;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: black;
}

h2 {
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  /* width: 100%; */
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* input {
  margin-top: 6px;
} */

#calculator-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(460px, 1fr));
  /* grid-template-columns: minmax(300px, 600px) repeat(2, minmax(500px, 1fr)); */
  grid-template-rows: auto;
  gap: 25px;
  justify-items: center;
}

/* #calculator-container > div:not(:first-child) {
  grid-column: span 2;
} */

#calculator-container > * {
  margin: 1%;
}

/* .text-note {
  width: 50%;
} */

.calculator-values {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

#calculator-results {
  font-size: 2.2em;
}

#calculator-results > * {
  margin-top: 6px;
}

#calculator-buttons {
  margin-top: 2%;
}

/* #calculator-buttons > * {
  margin-left: 5%;
} */

/* #calculator-link {
  margin-top: 12px;
  font-size: 1.1em;
} */

#calculator-potential {
  font-size: 0.5em;
}

.item-separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.item-separator::before,
.item-separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid gray;
}

.item-separator:not(:empty)::before {
  margin-right: .25em;
}

.item-separator:not(:empty)::after {
  margin-left: .25em;
}

.gear-container {
  display: flex;
  position: absolute;
  top: 3%;
  left: 5%;
  width: 50%;
}



.gear-selection {
  min-width: 260px;
  max-width: 260px;
  margin-right: 5%;
  height: 100%;
  /* width: 110%; */
  /* border: 1px solid gray;
  border-radius: 4px; */
  /* width: 90%; */
  /* background-color: white; */
}

.gear-info {
  /* position: absolute;
  top: 50px;
  left: 30%; */
  min-width: 380px;
  max-width: 380px;
  margin-right: 5%;
  height: 100%;
}

.gear-info-extra {
  /* position: absolute;
  top: 50px;
  left: 30%; */
  min-width: 500px;
  max-width: 500px;
  height: 100%;
}

.gear-image {
  width: 32px;
  padding-left: 10px;
  padding-right: 10px;
  /* background-image: url('/lt-damage-calculator/src/assets/Badge_9999.png') no-repeat scroll left center; */
}

.icon-image {
  width: 24px;
}

.icon-image-small {
  width: 12px;
}

.gear-clickable {
  cursor: pointer;
}

.full-bar {
  display: grid;
  height: 7px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: white;
  /* margin-bottom: 8px; */
}

.filled-bar {
  display: block;
  height: 100%;
  border-radius: 4px;
  transition: width 0.5s ease;
  grid-column: 1;
  grid-row: 1;
  
  /* background-color: violet; */
}

/* @keyframes fillBar {
  from {
    transform: scaleX(0%);
    transform-origin: left top;
  }

  to {
    transform: scaleX(100%);
    transform-origin: left top;
  }
} */

/* .filled-bar {
  animation: fillBar .8s ease both;
  
} */

.disclaimer {
  position: fixed;
  left: 10%;
  top: 10%;
  height: 80%;
  width: 80%;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: white;
  overflow: auto;
}

.disclaimer-button {
  padding: 12px;
  font-size: 1.5em;
  border-radius: 9px;
  background-color: rgb(246, 246, 246);

  border-top: 2px solid darkgray;
  border-left: 2px solid darkgray;
  border-right: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  /* color: #eee; */
  margin: 15px auto;
  display: block;
}

.disclaimer-button:hover {
  background-color: rgb(240, 240, 245);
}

.disclaimer-button:active {
  background-color: rgb(230, 230, 240);
}

.stat-selector {
  width: 65%;
  margin-left: 3%;
}

.stat-selector:hover {
  background-color: #111;
}

.stat-input {
  width: 15%;
  margin-left: 4%;
  margin-right: 3%;
  padding-left: 3%;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 1.1em;
}

.stat-options::after {
  content: attr()
}

option::after {
  content: attr(stat-value);
  display: inline-block;
  /* width: 1.6em; */
  text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.stat-subtext {
  font-size: 0.8em;
  padding: 5px;
}

.stat-rating {
  position: relative;
  margin-right: 48%;
  text-align: right;
}

.calculator-input, .selection-text {
  display: flex;
  flex-direction: column;
}

.selection-subtext {
  font-size: 0.7em;
}

.container {
  /* width: 30%; */
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid rgb(210,227,234);
  border-left: 2px solid rgb(210,227,234);
  border-right: 2px solid rgb(225,241,243);
  border-bottom: 2px solid rgb(225,241,243);
  border-radius: 25px;
  background: rgb(247, 252, 253);
  box-shadow: 0.0625em 0.0625em 0.0625em rgba(0, 0, 0, 0.2);
}

.main-container {
  min-height: 500px;
  min-width: 450px;
  /* max-width: 600px; */
  width: 80%;
}

.input-container {
  min-height: 500px;
  min-width: 400px;
  max-width: 400px;
  /* width: 80%; */
}

.results-tiers {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.results-notes {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 2%;
}

.results-header, .results-stats, .results-total {
  width: 100%;
}

.results-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 12%;
  margin-bottom: 5%;
}

.header-left {
  margin-right: auto;
}

.header-right {
  margin-left: auto;
  margin-right: 1%;
}

.results-header-text {
  font-size: 1.5em;
}

.results-center {
  display: flex;
  align-items: center;
}

.results-total {
  /* margin-top: 5%; */
  font-size: 1.5em;
}

.results-individual-notes {
  display: flex;
  justify-content: right;
}

.results-individual-notes > * {
  padding-left: 10px;
}

.note-image {
  width: 54px;
  /* padding-left: 10px;
  padding-right: 10px; */
  /* background-image: url('/lt-damage-calculator/src/assets/Badge_9999.png') no-repeat scroll left center; */
}

#tooltip {
  position: absolute;
  z-index: 1000;
  overflow: hidden;
  pointer-events: none;

  background-color: white;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 2px;

  white-space: pre;

  display: flex;
}

[note-text] {
  position: relative;
  cursor: help;
}

[note-text]:hover::before {
  content: attr(note-text);
  position: absolute;
  top: calc(100% + 10px);
  left: calc(00% - 40px);
  display: inline-block;
  padding: 3px 6px;
  border-radius: 2px;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-family: sans-serif;
  word-break: break-word;
  min-width: 150px;
  max-width: 300px;
  /* white-space: pre; */
}

[note-text]:hover::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 29px;
  display: inline-block;
  color: #fff;
  border: 8px solid transparent;	
  border-bottom: 8px solid #000;
}

div#preload {
  display: none;
}

#dim {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 500;
}

/* @keyframes popIn {
  0% {
    opacity: 0%;
  }
  20% {
    transform: translate3d(0, -20px, 0);
  }

  100% {
    opacity: 100%;
  }
} */



.dim-above {
  z-index: 501;
  /* animation: popIn 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0); */
}

/* Animate windows popping in/out */
.window-fade-enter-active {
  transition: all .4s ease;
}
.window-fade-leave-active {
  transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.window-fade-enter-from, .window-fade-leave-to {
  transform: translateY(20px);
  opacity: 0;
}

.dim-fade-enter-active {
  transition: all .4s ease;
}
.dim-fade-leave-active {
  transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.dim-fade-enter-from, .dim-fade-leave-to {
  opacity: 0;
}

.results-stats {
  height: 50%;
}

.results-footer {
  margin-top: 3%; 
  height: 30%;
}

.stat-block {
  height: 19%;
  margin-bottom: 1%;
}

.stat-block-individual {
  display: flex;
}

.stat-block-individual > * {
  box-shadow: 0.0625em 0.0625em 0.0625em rgba(0, 0, 0, 0.1);
}

.toggle-switch {
  background: #ddd;
  border-radius: 0.75em;
  box-shadow: 0.0625em 0.0625em 0.0625em rgba(0, 0, 0, 0.08) inset;
  cursor: pointer;
  flex: none;
  height: 1.5em;
  position: relative;
  transition: background-color 150ms;
  width: 3em;
}

.toggle-switch::before {
  background: #fff;
  background-image: radial-gradient(circle at 0.375em 0.375em, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.05) 1em);
  border-radius: 0.625em;
  box-shadow: 0.0625em 0.0625em 0.0625em rgba(0, 0, 0, 0.08);
  content: "";
  display: block;
  height: 1.25em;
  left: 0.125em;
  position: absolute;
  top: 0.125em;
  transition: left 150ms;
  width: 1.25em;
  will-change: left;
}

.mode-switch {
  background-color: #aac3f2;
}

.mode-switch::before {
  background-image: radial-gradient(circle at 0.375em 0.375em, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.05) 1em);
  left: 1.625em;
}

.toggle-switch:hover {
  box-shadow: 0.0625em 0.0625em 0.125em rgba(0, 0, 0, 0.12) inset;
}

.toggle-switch:hover::before {
  background-image: radial-gradient(circle at 0.375em 0.375em, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.0375) 1em);
  box-shadow: 0.0625em 0.0625em 0.0625em rgba(0, 0, 0, 0.12);
}

.switch-text {
  font-size: 0.8em;
  text-align: center;
}

.fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* @keyframes tierGradient {
  to {
    color: gold;
  }
} */

.header {
  width: 90%;
  margin-left: 5%;
  /* padding: 1%; */
  margin-top: 1%;

  display: flex;
  align-items: center;
}

.header-button {
  /* height: 1.25em; */
  padding: 0.35em;
  border-radius: 10px;
  margin-left: 10px;
}

.header-button:hover {
  /* background-color: #759fec; */
  cursor: pointer;
  /* color:  */
}

.header-title {
  padding: 0.20em;
}

th {
  text-align: center;
}


table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

td, th {
  background-color: white;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 2px solid rgb(210,227,234);
  border-top: 2px solid rgb(210,227,234);
}

th:last-child, td:last-child {
  border-right: 2px solid rgb(210,227,234)
}

tr:last-child td {
  border-bottom: 2px solid rgb(210,227,234);
}

table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.help-container {
  position: relative;
  width: 100%;
}

.help-info {
  padding: 3px;
  border: 2px solid gray;
  border-radius: 4px;
  background: rgb(0, 0, 0);
  color: #fff;
  position: absolute;
  display: inline-block;
  font-size: medium;
  /* width: 100%; */
}

.help-info-top {
  top: calc(100% - 30px);
}

.help-info-left {
  left: calc(100% - 30px);
}

.help-info-bottom {
  top: calc(100% + 10px);
}

.help-info-right {
  left: calc(100% + 30px);
  min-width: 170px;
}

.help-button-container {
  padding: 3px;
  width: 150px;
  position: absolute;
  display: inline-block;
  font-size: medium;
  top: calc(100%);
  left: 0;
}

.help-button {
  padding: 5px;
  margin: 5px;
  /* font-size: 1.2em; */
  border: 2px solid darkgray;
  border-radius: 6px;
  background-color: #111;
  color: #eee;
  /* position: absolute;
  display: inline-block; */
}

.help-button-right {
  left: calc(100% - 50px);
}

.help-button:hover {
  background-color: #222;
}

.help-button:active {
  background-color: #333;
}

.tier-text {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin-left: 5px;
}

/* Small mobile screens */
/* @media screen and (max-width: 1250px) {
  .gear-container {
    flex-direction: column;
  }

  .gear-container > * {
    margin-bottom: 30px;
  }
}

@media (min-width: 320px) and (max-width: 750px) {
  * {
    font-size: small;
  }

  .input-container {
    min-width: 300px;
    max-width: 400px;
  }  
} */

.other-tools {
  position: relative;
  display: inline-block;
}

.other-tools-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* background-color: #759fec; */
  /* padding: 0.5em; */
  /* margin-top: 6px; */
  border-radius: 10px;
  min-width: 200px;
  /* right: -10px; */
  z-index: 1000;
}

.other-tools-links a {
  font-size: 1.1em;
  padding: 5px;
  border-radius: 5px;
}

.other-tools-links a:hover {
  background-color: rgb(201, 239, 247);
}

.header-separator {
  margin-left: 10px;
  margin-right: 10px;
  min-width: 2px;
  height: 25px;
  border-left: 1px solid darkgrey;
}

.stat-option-text {

}

.stat-option-subtext {
  margin-top: 2px;
  font-size: 0.75em
}

.clipboard-tooltip {
  position: absolute;
  background-color: #111;
  color: #eee;
  padding: 5px 10px;
  border-radius: 4px;
  z-index: 1000;
  /* Add styling for positioning relative to the button */
  /* For example, if you want it below the button: */
  margin-top: 18px;
  margin-left: 15px;
}

.clipboard-tooltip::after {
  content: '';
  position: absolute;
  top: -15px;
  left: 29px;
  display: inline-block;
  color: #eee;
  border: 8px solid transparent;	
  border-bottom: 8px solid #111;
}

.additional-buttons {
  margin-top: 4%;
  display: flex;
  justify-content: space-around;
}

.additional-buttons > div {
  cursor: pointer;
  width: 30%;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: rgb(240, 240, 244);
  padding: 8px;
  text-align: center;
  box-shadow: 0.0625em 0.0625em 0.0625em rgba(0, 0, 0, 0.1);
}

.additional-buttons > div:hover {
  background-color: rgb(230, 230, 234);
}

.additional-buttons > div:active {
  background-color: rgb(220, 220, 225);
}

.calculator-link, .clipboard-button {
  position: relative;
}

.float-corner {
  position: absolute;
  top: 5px;
  right: 5px;
}

.preset-buttons {
  display: flex;
  justify-content: space-around;
}

.preset-buttons > * {
  box-shadow: 0.0625em 0.0625em 0.0625em rgba(0, 0, 0, 0.1);
}

.preset-input {
  width: 60px;
}

@media (min-width: 320px) and (max-width: 750px) {
  .mobile-hide {
    display: none;
  }

  body {
    font-size: 0.8em;
  }

  #calculator-container {
    grid-template-columns: 1fr;
    gap: 0px;
    justify-items: left;
  }

  .container {
    padding: 5px;
  }

  .header {
    margin-left: 1%;
    min-width: 330px;
    max-width: 1vw;
  }

  .input-container {
    min-width: 330px;
    max-width: 1vw;
    margin-left: 0px;
  }

  .main-container {
    min-width: 330px;
    max-width: 1vw;
    margin-left: 0px;
  }

  .icon-image {
    width: 16px;
  }

  .other-tools-links {
    right: 0px;
  }
}